<%
page.layout = "links"
page.title = theme.links.title || __('links.title')
page.subtitle = theme.links.subtitle || __('links.subtitle')
page.banner_img = theme.links.banner_img
page.banner_img_height = theme.links.banner_img_height
page.banner_mask_alpha = theme.links.banner_mask_alpha
page.comment = theme.links.comments.type
%>

<h4 style="margin: 40px 0 20px 20px"> 友情链接 </h4>

<div class="row links">
  <% for(const each of theme.links.items || []) { %>

    <% if (!each.title || !each.link) continue %>
    <div class="card col-lg-4 col-md-6 col-sm-12">
      <a href="<%= url_for(each.link) %>" class="card-body hover-with-bg" target="_blank" rel="noopener">
        <div class="card-content">
          <% if (each.avatar || each.image) { %>
            <div class="link-avatar my-auto">
              <img src="<%= url_for(each.avatar || each.image) %>" alt="<%= each.title %>"
                   onerror="this.onerror=null; this.src=this.srcset='<%= url_for(theme.links.onerror_avatar) %>'"/>
            </div>
          <% } %>
          <div class="link-text">
            <div class="link-title"><%- each.title %></div>
            <div class="link-intro"><%- each.intro || '' %></div>
          </div>
        </div>
      </a>
    </div>
  <% } %>
</div>

<!-- 
<details> 
 <h5><summary> 失联的同学 </summary></h5>

	<div class="row links">
	  <% for(const each of theme.lost_links.items || []) { %>

		<% if (!each.title || !each.link) continue %>
		<div class="card col-lg-4 col-md-6 col-sm-12">
		  <a href="<%= url_for(each.link) %>" class="card-body hover-with-bg" target="_blank" rel="noopener">
			<div class="card-content">
			  <% if (each.avatar || each.image) { %>
				<div class="link-avatar my-auto">
				  <img src="<%= url_for(each.avatar || each.image) %>" alt="<%= each.title %>"
					   onerror="this.onerror=null; this.src=this.srcset='<%= url_for(theme.links.onerror_avatar) %>'"/>
				</div>
			  <% } %>
			  <div class="link-text">
				<div class="link-title"><%- each.title %></div>
				<div class="link-intro"><%- each.intro || '' %></div>
			  </div>
			</div>
		  </a>
		</div>
	  <% } %>
	</div>
</details>
-->

<h4 style="margin: 40px 0 20px 10px"> 友链文章 </h4>

<div id="hexo-circle-of-friends-root"></div>
<script>
    let UserConfig = {
        // 填写你的api地址
        private_api_url: 'https://101.43.39.125:6209/',
        // 点击加载更多时，一次最多加载几篇文章，默认10
        page_turning_number: 12,
        // 头像加载失败时，默认头像地址
        error_img: 'https://www.zywvvd.com/img/avatar.png',
        // 进入页面时第一次的排序规则
        sort_rule: 'created'
    }
</script>
<link rel="stylesheet" href="https://101.43.39.125/HexoFiles/js/friend-circle/heoMainColor.css">
<script type="text/javascript" src="https://101.43.39.125/HexoFiles/js/friend-circle/app.min.js"></script>
<script type="text/javascript" src="https://101.43.39.125/HexoFiles/js/friend-circle/bundle.js"></script>







<% if(theme.links.custom && theme.links.custom.enable && theme.links.custom.content) { %>
  <!-- Custom -->
  <div class="custom mx-auto">
    <%- theme.links.custom.content %>
  </div>
<% } %>

<%- inject_point('linksComments') %>
