<%
page.layout = "links"
page.title = theme.links.title || __('links.title')
page.subtitle = theme.links.subtitle || __('links.subtitle')
page.banner_img = theme.links.banner_img
page.banner_img_height = theme.links.banner_img_height
page.banner_mask_alpha = theme.links.banner_mask_alpha
page.comment = theme.links.comments.type
%>

<script src="https://101.43.39.125/HexoFiles/js/md5/md5.min.js"> </script>
<script src="https://101.43.39.125/HexoFiles/js/vvd_js/jquery.js"> </script>

<script>
	var total_links={};
	var index = 0;
	<% for(const sub_item of theme.vvd_local_links.families || []) { %>
		<% for(const link_info of sub_item.items || []) { %>
			total_links[index] = '<%- link_info.link %>'
			index = index+1;
		<% } %>
	<% } %>

	 var s = md5('asdf'); 
	 console.log('https://' + s) 
	 console.log(total_links[1])
	 console.log(md5(total_links[1]))
	 var url = 'https://101.43.39.125:6111/make_post_img'
	 $.post(url, total_links);
	 console.log(url)
	 
 </script>
 
import hashlib
m = hashlib.md5('https://www.baidu.com'.encode(encoding='utf-8')).hexdigest()

站点地图

<div class="row links">


  <p> <% theme.vvd_local_links.vvd_source_root %> </p>
  <%- theme.vvd_local_links.vvd_source_root %>
  
  
  
  <% for(const sub_item of theme.vvd_local_links.families || []) { %>
	   <p> <%- sub_item.family_name %> </p> 
	   <p> <%- sub_item.intr %> </p>
		<% for(const link_info of sub_item.items || []) { %>
			<p> <%- link_info.name %> </p>
			<p> <%- link_info.intro %> </p>
			<p> <%- link_info.link %> </p>
			<p> <%- link_info.avatar %> </p>
		<% } %>
  <% } %>
</div>

<%- inject_point('linksComments') %>